version: '0.1.1.{build}'
image: Visual Studio 2022
branches:
  only:
  - master
init:
  - cmd: git config --global core.autocrlf true
configuration:
  - Release
nuget:
  disable_publish_on_pr: true
install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.103' -InstallDir "$env:ProgramFiles\dotnet"
before_build:
  - cmd: dotnet --version
build_script:
  - cmd: dotnet build Content/src/CarterService.csproj -v quiet
  - cmd: dotnet build Content/tests/CarterService.Tests.csproj -v quiet
  - cmd: dotnet build . -v quiet
test_script:
  - cmd: dotnet test Content/tests/CarterService.Tests.csproj -v quiet
artifacts:
  - path: '**/*.nupkg'
skip_commits:
  files:
    - '**/*.md'
deploy:
- provider: NuGet
  server: https://www.myget.org/F/carterservicetemplate/api/v2/package
  on:
    branch: master
  api_key:
    secure: 6xhHSsDvB9arsrSDLuynnbxaVS+BwaoJU96RfQenc5FOnUYvP8SHM6kbvrmpvja2
  skip_symbols: false
