name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Format Code
      run: dotnet format analyzers Content/CarterService.sln --verbosity diagnostic
    - name: Build Source
      run: dotnet build Content/src/CarterService.csproj --configuration Release
    - name: Build Tests
      run: dotnet build Content/tests/CarterService.Tests.csproj --configuration Release
    - name: Test
      run: dotnet test Content/tests/CarterService.Tests.csproj --configuration Release
env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
